body {
    background-color: violet;
}
strike {
    display: block;
}

#wrapper {
    display: inline-block;
    padding: 10px;
}

#form {
    display: inline-block;
    margin-top: 15px;
}

#form a {
    display: inline-block;
    vertical-align: top;
}